footer {
  & p {
    width: 100%;
    margin: $space-l 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $fs-400;

    & a {
      color: $clr-accent-500;
    }
  }
}
