.search-forn-center {
  display: flex;
  justify-content: center;
  margin: $space-xl 0 $space-xxs 0;

  & .form-search {
    box-shadow: $bxs-1;
    width: 100%;
    max-width: 600px;
    display: flex;
    background-color: $clr-neutral-100;
    padding: $space-l;
    align-items: center;
    justify-content: center;

    & .form-input {
      background-color: $clr-accent-100;
      font-size: $fs-400;
      font-weight: $fw-500;
      color: $clr-neutral-900;
      width: 100%;
      max-width: 500px;
      padding: 0.375rem 0.75rem;
      border-radius: $borderRadius 0 0 $borderRadius;
      border: 1px solid $clr-accent-200;
    }
    & .btn {
      font-size: $fs-400;
      font-weight: $fw-500;
      width: 100%;
      max-width: 100px;
      padding: 0.45rem 0.75rem;
      margin: 0;
      border-radius: 0 $borderRadius $borderRadius 0;
      background-color: $clr-accent-500;
    }
  }
}
