small,
.text-small {
  font-size: $fs-100;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  width: calc(min($max-width, $view-width));
  margin-inline: auto;
}

.btn {
  outline: none;
  cursor: pointer;
  border: transparent;
  border-radius: $borderRadius;
  padding: 0.375rem 0.75rem;
  box-shadow: $bxs-1;
  transition: $transition;
  text-transform: capitalize;
  display: inline-block;

  &:hover {
    box-shadow: $bxs-3;
  }
}

// loading

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-spanner {
  width: 4rem;
  height: 4rem;
  border: 5px solid $clr-neutral-300;
  border-radius: 50%;
  border-top-color: $clr-accent-500;
  animation: spinner 0.6s linear infinite;
}

.loading-center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: $space-xl;
}
// error page

.error-center {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .error-img {
    max-width: 600px;
  }
}
