.about {
  &-title {
    text-transform: capitalize;
    margin: $space-l auto;
  }
  &-text {
    line-height: 2;
    margin: $space-s auto;
    color: $clr-neutral-500;
    font-weight: $fw-300;
    font-size: $fs-400;
  }
}
