.about {
  &-title {
    text-transform: capitalize;
    margin: $space-l auto;
  }
  &-text {
    line-height: 2;
    margin: $space-l auto;
    color: $clr-neutral-500;
  }
}
@media (min-width: 45em) {
  .about {
  }
}
