.landing-center {
  margin: 0 auto;
  padding: $space-xl 0;

  & .images-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    gap: $space-s;
    & .image-card {
      background-color: $clr-neutral-100;
      box-shadow: $bxs-4;
      transition: $transition;

      &:hover,
      &:focus {
        transform: scale(1.03);
      }
      & .img-container {
        width: 100%;
        height: 300px;
        overflow: hidden;
        max-width: 100vw;
        & .img {
          width: 100%;
        }
      }

      & .img-footer {
        padding: $space-s;

        & .btn {
          margin-top: $space-xxs;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .landing-center {
    & .images-list {
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
