.landing-center {
  border: $d-border;
  margin: 0 auto;
  padding: $space-xl 0;

  & .images-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $space-s;
    & .image-card {
      border: $d-border;
      & .img-container {
        width: 100%;
        height: 250px;
        overflow: hidden;
        max-width: 30vw;
        margin: 0 0 $space-s 0;
        & .img {
          width: 100%;
          background-position: cover;
        }
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 768px) {
  .landing-center {
    border: $d-border;
    margin: 0 auto;
    padding: $space-xl 0;

    & .images-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $space-s;
      & .image-card {
        border: $d-border;
        & .img-container {
        }
      }
    }
  }
}
