.movie-card-center {
  & .btn {
    background: $clr-accent-500;
    color: $clr-accent-100;
    margin: $space-l 0;
  }

  & .movie-title {
    margin: 0 0 $space-l 0;
    font-size: $fs-700;
    font-weight: $fw-500;
    text-align: center;
  }

  & .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    gap: $space-l;
    & .card-img {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      & img {
        width: 90%;
      }
    }
    & .card-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: end;
      align-items: start;
      & p {
        margin: $space-s 0;
        color: $clr-neutral-800;
        font-size: $fs-500;
        font-weight: $fw-500;
        & span {
          margin-right: 0.5em;
          background-color: $clr-accent-300;
          padding: 0.3rem 0.5rem;
          color: $clr-accent-900;
          border-radius: $borderRadius;
          text-transform: capitalize;
        }
      }
      & .lang {
        text-transform: uppercase;
      }
      & .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        resize: horizontal;
      }
    }
  }
}

@media (min-width: 825px) {
  .movie-card-center {
    & .card-container {
      justify-items: center;

      & .card-img {
        max-width: 400px;
        & img {
          width: 100%;
        }
      }
    }
  }
}
