.nav-center {
  background-color: transparent;
  border: $d-border;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: $space-xxs 0;

  & .logo {
    font-size: clamp($fs-500, 3vw, $fs-700);
    letter-spacing: 2px;
  }
  & .nav-links {
    display: flex;
    flex-direction: column;
    gap: $space-s;

    & .nav-link {
      color: $clr-neutral-900;
      font-weight: $fw-500;
      transition: $transition;

      &:hover {
        color: $clr-accent-500;
      }
    }
    .active {
      color: $clr-accent-500;
    }
  }
}

@media (min-width: 768px) {
  .nav-center {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .nav-links {
      flex-direction: row;

      gap: $space-l;
      & .nav-link {
      }
    }
  }
}
